/*CSS for Index*/

.content {
    min-height: 900px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    display: flex;
    margin: 0ch;
    padding-left: 30px;
    color: white;
    font-size: 300%;
    background-image: url("img/NY6.jpg");
    justify-content: space-between;
    flex-direction: column;
    font-weight: bold;
}

.content p {
    font-size: 60%;
    color: #EFEFEF;
    margin-bottom: 100px;
    background-color: rgba(58, 56, 56, 0.6);
    border-radius: 25px;
    padding: 20px;
    width: fit-content;
}
.container
{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 56.25%;
}
.responsive-iframe
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
