/*CSS for Why*/

.banner
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/NY3.png");
    width: 100%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 300%;
    justify-content: center;
    text-align: center;
}

header
{
    font-size: 2vh;
}

.content
{
    font-size: 2vw;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 20px;
    align-items: center;
    line-height: 4vw;
    font-weight: bolder;
}